RewriteEngine On

RewriteRule ^$ index.php?action=new_game
RewriteRule ^(\d+)$ index.php?action=game&game_id=$1
RewriteRule ^(\d+)\.json$ index.php?action=game&game_id=$1&format=json
RewriteRule ^(\d+)/move$ index.php?action=move&game_id=$1
