<!doctype html>
<html>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maxiumum-scale=1.0, user-scalable=no" />
    <title>conn4</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"></link>
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css"></link>
    <link rel="stylesheet" href="css/style.css"></link>
  </head>

  <body>

    <a href="http://github.com/edsu/conn4"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" class="hidden-phone" alt="Fork me on GitHub" /></a>

    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">conn4</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/">New Game</a></li>
              <li><a href="http://github.com/edsu/conn4">About</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container" id="board">

      <div class="row">
        <div class="span7 offset2">
          <div id="status"></div>
          <div id="error"></div>
        </div>
      </div>

      <div class="row">
        <div class="span7 offset2">
        <table class="">
          <tr>
            <td id="r5c0"></td>
            <td id="r5c1"></td>
            <td id="r5c2"></td>
            <td id="r5c3"></td>
            <td id="r5c4"></td>
            <td id="r5c5"></td>
            <td id="r5c6"></td>
          </tr>
          <tr>
            <td id="r4c0"></td>
            <td id="r4c1"></td>
            <td id="r4c2"></td>
            <td id="r4c3"></td>
            <td id="r4c4"></td>
            <td id="r4c5"></td>
            <td id="r4c6"></td>
          </tr>
          <tr>
            <td id="r3c0"></td>
            <td id="r3c1"></td>
            <td id="r3c2"></td>
            <td id="r3c3"></td>
            <td id="r3c4"></td>
            <td id="r3c5"></td>
            <td id="r3c6"></td>
          </tr>
          <tr>
            <td id="r2c0"></td>
            <td id="r2c1"></td>
            <td id="r2c2"></td>
            <td id="r2c3"></td>
            <td id="r2c4"></td>
            <td id="r2c5"></td>
            <td id="r2c6"></td>
          </tr>
          <tr>
            <td id="r1c0"></td>
            <td id="r1c1"></td>
            <td id="r1c2"></td>
            <td id="r1c3"></td>
            <td id="r1c4"></td>
            <td id="r1c5"></td>
            <td id="r1c6"></td>
          </tr>
          <tr>
            <td id="r0c0"></td>
            <td id="r0c1"></td>
            <td id="r0c2"></td>
            <td id="r0c3"></td>
            <td id="r0c4"></td>
            <td id="r0c5"></td>
            <td id="r0c6"></td>
          </tr>
        </table>
      </div>
    </div>

    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/app.js"></script>
  </body>

</html>
